<div class="container">
  <div class="pt-5">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-6">
            <h3>All Books</h3>
          </div>
          <div class="col-6 text-end">
            <button (click)="createBookRequest()" class="btn btn-primary">Create Book</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Price</th>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let book of bookList; index as idx">
            <th scope="row">{{ idx + 1 }}</th>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.price | currency: 'INR' }}</td>
            <td>{{ book.createTime | date: 'medium' }}</td>
            <td>
              <button (click)="editBookRequest(book)" class="btn btn-primary me-1">Edit</button>
              <button (click)="deleteBook(book, idx)" class="btn btn-danger">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-book (save)="saveBookWatcher($event)" [book]="selectedBook"></app-book>
