<div class="navbar navbar-expand navbar-dark bg-dark">
  <a [routerLink]="['/home']" class="navbar-brand ms-1">
    <fa-icon [icon]="faBook" class="m-2"></fa-icon>
    Book Seller
  </a>
  <div class="navbar-nav me-auto">
    <li *ngIf="isAdmin()" class="nav-item">
      <a [routerLink]="['/admin']" class="nav-link" routerLinkActive="active">Admin</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/home']" class="nav-link" routerLinkActive="active">Home</a>
    </li>
  </div>
  <div *ngIf="!currentUser?.id" class="navbar-nav ms-auto">
    <li class="nav-item">
      <a [routerLink]="['/register']" class="nav-link" routerLinkActive="active">Register</a>
    </li>
    <li class="nav-item me-1">
      <a [routerLink]="['/login']" class="nav-link" routerLinkActive="active">Login</a>
    </li>
  </div>
  <div *ngIf="currentUser?.id" class="navbar-nav ms-auto">
    <li class="nav-item">
      <a [routerLink]="['/profile']" class="nav-link" routerLinkActive="active">{{ currentUser.username }}</a>
    </li>
    <li class="nav-item me-1">
      <a (click)="logout()" class="nav-link" style="cursor: pointer;">Logout</a>
    </li>
  </div>
</div>
<router-outlet></router-outlet>
